.home-container {
 background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

.card {
  border: 0px;
  width: 800px;
  background-color: transparent;
  }
 
}


@media only screen and (max-width: 768px) {
  .home-container  .card {
    width: 400px!important;
  }
}